{% extends 'cal/base.html' %}

{% block title %}
Agendamento: {{evento.title}}
{% endblock %}

{% block content %}
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> Calendário </a>
</div>

<div class="informacao">
    <h2><strong>Nome do agendamento: </strong>{{evento.title}}</h2>
    <h2><strong>Host: </strong>{{evento.host}}</h2>
    <h2><strong>Descrição: </strong>{{evento.description}}</h2>
    <h2><strong>Data e hora: </strong>{{evento.start_time}}</h2>
    {% if evento.pending == False %}
    <h2><strong>Condição: </strong> Pendente</h2>
    {% elif evento.pending == True %}
    <h2><strong>Situação: </strong> Confirmado por {{evento.adm}}</h2>
    {% endif %}

</div>

{% if request.user == evento.host or request.user.is_superuser%}
    {%if evento.pending == False or request.user.is_superuser%}
    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'cal:event_edit' evento.id%}"> Editar </a>
    </div>
    {%endif%}
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'cal:event_delete' evento.id%}"> Deletar </a>
</div>
{% endif %}
{% if request.user.is_superuser and evento.pending == False %}
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'cal:event_confirmation' evento.id%}"> Confirmar </a>
</div>
{% endif %}
{% endblock content %}