{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'cal/css/styles.css' %}">
  <title>Agendamento do Garagem</title>
</head>

<body>
    <section class="login-body" style="background-image: url('{% static 'cal/images/index.png' %}');">
        <div class="rgba-color">
            <div class="login-content">
                <form method="post" class="login-form" action="{% url 'cal:login' %}">
                    {% csrf_token %}
                    <img src="{% static 'cal/images/register.svg' %}" alt="Cesar school logo" style="width: 200px;">
                    <div class="input-box">
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="text" name="username" id="username" class="login__input" placeholder="Nome de usuário">
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <input type="password" name="password" id="password" class="login__input" placeholder="Senha">
                        </div>
                        <button type="submit" class="login__submit">Entrar</button>
                    </div>
                    {% if form.errors %}
                        <p class="text-danger">Usuario/senha incorretos.</p>
                    {% endif %}		
                </form>
            </div>
        </div>
    </section>
</body>
</html>
