@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "ptsans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Inter', sans-serif;
}

/* .left {
  float: left;
}

.right {
  float: right;
} */

.btn {
  outline: none;
  color: black;
  background-color: white;
  transition: all 300ms ease-in-out;
}
.btn:hover {
  color: #FFA067;
}
.form {
  margin: auto;
}

.form input,
.form select,
.form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}

.calendar {
  font-size: 13px;
  width: 80%;
}
.calendar-head{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logout{
  text-decoration: none;
  background-color: #DE3806;
  padding: 3px 10px;
  border-radius: 15px;
  color: white;
  transition: all 300ms ease-in-out;
  margin-right: 30px;
}
.logout:hover{
  text-decoration: none;
  color: white;
  background-color: #FFA067;
}
.calendar-header{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.calendar tr,
.calendar td {
  border: 2px solid grey;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  color: #FFA067;
}

.calendar td {
  width: 200px;
  height: 100px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
  color: #FFA067;
}

.date {
  font-size: 16px;
  color: #FFA067;
}

ul {
  height: fit-content;
  padding: 0px 5px 0px 20px;
}
ul a{
  text-decoration: none;
}
ul a:hover{
  text-decoration: none;

}

.informacao {
  margin: 15px;
}

.item {
  font-size: 15px;
  color: white;
}

.CenterTitle {
  display:flex;
  justify-content: center;
  align-items: center;
}
.CenterTitle h1{
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.calendar-content{
  margin-top: 50px;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index{
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap:wrap ;
}
.rgba-color{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height:70vh;
}
.register-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height:100vh;
}
.index-content{
  border-radius: 20px;
  height: 80%;
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255,255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.index-content img{
  width: 200px;
} 
.register-content{
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255,255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.buttons a{
  width: 100%;
  border-radius: 30px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  padding: 13px;
  margin-top: 10px;
  transition: all 300ms ease-in-out;
}
.buttons2 a{
  width: 100%;
  border-radius: 30px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  padding: 13px;
  margin-top: 10px;
  transition: all 300ms ease-in-out;
}
.buttons a:hover{
  color: #FFA067;
  transition: all 300ms ease-in-out;
}
.buttons2 a:hover{
  color: #FFA067;
  transition: all 300ms ease-in-out;
}
.buttons p{
  color: #DE3806;
  font-weight: 700;
  font-size: 18px;
}
.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.buttons2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: 30%;
}
.index-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.register-link{
  font-size: 15px;
  font-weight: 400;
}
.register-link a{
  text-decoration: none;
  color: #DE3806;
  transition: all 300ms ease-in-out;
}
.register-link a:hover{
  color: #FFA067;
  transition: all 300ms ease-in-out;
}
.form-group {
  position: relative;
  padding: 10px 0px 0px 0px;
  width: 80%;
  transition: all 300ms ease-in-out;
}

.form-group input {
  border: none;
  border-bottom: 1px solid #DE3806;
  background-color: transparent;
  transition: all 300ms ease-in-out;
  color: white;
  display: block;
  font-size: 16px;
  /* padding: 2px; */
  width: 100%;
}

.form-group label {
  color: #DE3806;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: all 300ms ease-in-out;
}
.form-group input:valid,
.form-group input:focus {
  border-bottom-color: #FFA067;
  transition: all 300ms ease-in-out;
  outline: none;
}

.form-group input:valid + label,
.form-group input:focus + label {
  color: #FFA067;
  font-size: 14px;
  transform: translateY(-10px);
  transition: all 300ms ease-in-out;
}
.index-form-button{
  background-color: #DE3806;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  transition: all 300ms ease-in-out;
  margin: 20px 0px;
}
.index-form-button:hover{
  background-color: #FFA067;
}
.register-img{
  width: 200px;
  margin-bottom: 10px;
}
.login-body{
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login__field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border-bottom: 2px solid #D1D1D4;
  transition: all 300ms ease-in-out;
  margin-bottom: 12px;
}
.input-box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 50%;
}
.login__icon {
	color: #FFA067;
  transition: all 300ms ease-in-out;
}

.login__input {
  outline: none;
	border: none;
  padding: 5px;
	background: none;
	width: 100%;
	transition: all 300ms ease-in-out;
  color: white;
}
.login__input::placeholder{
  color: #D1D1D4;
}

.login__field:active,
.login__field:focus-within,
.login__field:hover{
	outline: none;
	border-bottom-color: #FFA067;
  transition: all 300ms ease-in-out;
}
.login__field:focus-within i{
	color: #FFA067;
  transition: all 300ms ease-in-out;
}
.login__submit {
	background-color: #DE3806;
  border: none;
	padding: 5px 10px;
	border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  width: 50%;
	color: white;
	cursor: pointer;
	transition: all 300ms ease-in-out;
  margin-top: 10px;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}
.login-form{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.login-content{
  border-radius: 20px;
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255,255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.error-message{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
.error-content{
  color: white;
  background-color: rgba(255, 255,255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 20px;
}
.error-content img{
  margin-bottom: 20px;
  width: 200px;
}
.error-message a{
  text-decoration: none;
  color: #DE3806;
  transition: all 300ms ease-in-out;
}
.error-message a:hover{
  color: #FFA067;
}
@media (max-width:1050px){
  .index-content{
    width: 30%;
  }
}
@media (max-width:1500px){
  .index-content{
    width: 30%;
    height: 100%;
  }
}
@media (max-width:1000px){
  .index-content{
    width: 40%;
  }
}
@media (max-width:900px){
  .index-content{
    width: 80%;
  }
}
@media (max-width:473px){
  .index-content{
    width: 80%;
  }
  .calendar{
    width: 100%;
  }
  .calendar-header{
    width: 100%;
  }
}